@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');


@red: #ff5252;
@green: #33d9b2;
@orange: #ff793f;
@yellow: #ffb142;
@blue: #34ace0;
@violet: #40407a;

@arenawidth: 800px;
@arenaheight: 500px;

@arenapadding: 5px;
@playerspacing: 0;

@cardratio: 357 / 420;

@cardwidth: (@arenawidth - @arenapadding * 3) / 11;
@cardheight: @cardwidth / @cardratio;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	background: url("/assets/felt.jpg") center top;
	overflow: hidden;
}

button {
	font-family: 'Oswald', sans-serif;
}

.vignette {
	background: transparent radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#arena {
	width: @arenawidth;
	height: @arenaheight;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	color: white;
	& > .card {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 200;
	}
}

#toolbar {
	position: absolute;
	top: @arenaheight / 2 + 23px;
	left: @arenawidth / 2 - 50px;
	width: 100px;
	text-align: center;
	button {
		background: white;
		color: #333;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		border: none;
		border-radius: 3px;
		padding: 5px 8px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
		display: none;
	}
}

.dlg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.dlg-content {
	margin: 30px auto;
	background: white;
	border-radius: 10px;
	width: 400px;
	padding: 18px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
}

#dlg-help {
	display: none;
}

@cardspacing: 3px;

.card {
	position: relative;
	width: @cardwidth;
	height: @cardheight;
	display: inline-block;
	padding: 4px;
	transition: opacity 0.3s ease-in 0.2s,
				transform 0.8s ease 0s;
	opacity: 1;
	z-index: 30;
	cursor: pointer;
	img {
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
					-0.5px -0.5px 0px rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		transform: scale(1.0);
		transition: transform 0.3s ease;
		position: absolute;
		top: 2px;
		left: 2px;
		width: @cardwidth - 4px;
		height: @cardheight - 4px;
	}
	&:hover {
		z-index: 40;
	}
	.burn {
		position: absolute;
		top: 2px;
		bottom: 2px;
		right: 2px;
		left: 2px;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		opacity: 0;
		transition: opacity 0.3s ease-in;
		z-index: 4;
	}
	&.discarding {
		.burn {
			opacity: 1;
		}
		opacity: 0;
	}
	&.discarded {
		.burn {
			transition: opacity 0.3s ease-out;
			opacity: 0;
		}
		opacity: 1;
		transition: opacity 0.3s ease-out;
	}
}

.well {
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.27);
	border-radius: 5px;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	line-height: @cardheight;
}

.stack {
	.card {
		position: absolute;
		border-radius: 3px;
		overflow: hidden;
		padding: 0;
		box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
		top: 10px;
		left: 10px;
		.cards(5);
		.cards(@n, @i: 0) when (@i =< @n) {
			&:nth-child(@{i}) {
				left: @i * 2px;
				top: @i * 1px;
				z-index: @i + 100;
			}
			.cards(@n, (@i + 1));
		}
	}
}

#deck {
	&:extend(.well);
	&:extend(.stack all);
	position: absolute;
	top: @arenaheight / 2 - @cardheight / 2;
	left: 9.8 * @cardwidth;
	width: @cardwidth;
	height: @cardheight;
}
#discard {
	&:extend(.well);
	position: absolute;
	top: @arenaheight / 2 - @cardheight / 2;
	left: 8.2 * @cardwidth;
	width: @cardwidth;
	height: @cardheight;
	transition: left 0.5s ease,
	            width 0.5s ease;
	.icon {
		height: 20px;
		top: @cardheight / 2 - 10px;
		left: @cardwidth - 2px;
	}
	&.expand {
		left: @arenapadding;
		width: 8.2 * @cardwidth + @cardwidth;
		.icon {
			left: 8.2 * @cardwidth + @cardwidth - 2px;
		}
	}
}

.icon {
	position: absolute;
	opacity: 0.4;
}

#players {
	.player {
		position: absolute;
		left: 0;
		height: @arenaheight / 2;
		width: 100%;
		&.active {
			.playername {
				color: red;
				font-size: 20px;
			}
		}
		&:nth-child(1) {
			top: 0;
			.playerinfo {
				bottom: 10px;
			}
			.hand {
				top: @arenapadding;
			}
			.sabotage-area,
			.journey-area,
			.score,
			.sabotage-status {
				top: @cardheight + 2 * @arenapadding;
			}
		}
		&:nth-child(2) {
			top: @arenaheight / 2;
			.playerinfo {
				top: 10px;
			}
			.hand {
				bottom: @arenapadding;
			}
			.sabotage-area,
			.journey-area,
			.score,
			.sabotage-status {
				bottom: @cardheight + 2 * @arenapadding;
			}
		}
		.playerinfo {
			position: absolute;
			left: 0;
			right: 0;
			padding: 10px;
			line-height: 1.2em;
			.playername {
				font-weight: bold;
				font-size: 14px;
			}
			.tokens {
				font-size: 10px;
			}
		}
		.score {
			font-size: 14px;
			position: absolute;
			left: 10 * @cardwidth + 2 * @arenapadding;
			height: @cardheight;
			line-height: @cardheight;
			width: @cardwidth;
			text-align: center;
			font-weight: bold;
		}
		.sabotage-area {
			&:extend(.well);
			position: absolute;
			left: @arenapadding;
			width: @cardwidth;
			height: @cardheight;
			.icon {
				height: 30px;
				top: @cardheight / 2 - 15px;
				left: @cardwidth / 2 - 15px;
				/*filter: invert(1);*/
			}
		}
		.sabotage-status {
			&:extend(.well);
			position: absolute;
			left: @cardwidth + 2 * @arenapadding;
			width: 9 * @cardwidth;
			height: @cardheight;
			background: fade(#c60b0b, 10%);
			z-index: 10000;
			opacity: 0;
			transition: opacity 0.4s ease-in;
			.icon-circle {
				background: white;
				box-shadow: 0 0 5px 2px fade(#c60b0b, 100%);
				border-radius: 50%;
				width: 40px;
				height: 40px;
				position: absolute;
				top: @cardheight / 2 - 20px;
				left: -20px;
				.icon {
					position: absolute;
					left: 15%;
					top: 15%;
					width: 70%;
					opacity: 1;
				}
			}
		}
		&.sabotaged {
			.sabotage-status {
				opacity: 1;
			}
		}
		.journey-area {
			&:extend(.well);
			position: absolute;
			left: @cardwidth + 2 * @arenapadding;
			width: 9 * @cardwidth;
			height: @cardheight;
			.icon {
				height: 60px;
				top: @cardheight / 2 - 30px;
				left: 4.5 * @cardwidth - 30px;
				/*filter: invert(1);*/
			}
		}
		.hand {
			/*&:extend(.well);*/
			position: absolute;
			left: @arenapadding;
			width: 11 * @cardwidth + @arenapadding;
			height: @cardheight;
			/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22),
			            -1px -1px 1px rgba(255, 255, 255, 0.22);*/
			background: rgba(255, 255, 255, 0.04);
			border-radius: 6px;
		}
	}
}

#status {
	position: absolute;
	top: @arenaheight / 2 - 40px;
	left: 40px;
	right: 40px;
	height: 80px;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 5px;
	&.message {
		z-index: 1000;
		font-weight: bold;
		font-size: 20px;
		color: #333;
		background: white;
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
	}
}
