@red: #ff5252;
@green: #33d9b2;
@orange: #ff793f;
@yellow: #ffb142;
@blue: #34ace0;
@violet: #40407a;

@arenawidth: 800px;
@arenaheight: 500px;

@arenapadding: 2px;
@playerspacing: 0;

@cardratio: 357 / 420;

@cardwidth: (@arenawidth - @arenapadding * 3) / 11;
@cardheight: @cardwidth / @cardratio;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: url("/assets/felt.jpg") center top;
	overflow: hidden;
}

.vignette {
	background: transparent radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#arena {
	width: @arenawidth;
	height: @arenaheight;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	color: white;
	& > .card {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 200;
	}
}

#toolbar {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	text-align: right;
	button {
		background: white;
		color: #333;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		border: none;
		border-radius: 3px;
		padding: 5px 8px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
		display: none;
	}
}

.dlg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.dlg-content {
	margin: 30px auto;
	background: white;
	border-radius: 10px;
	width: 400px;
	padding: 18px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
}

#dlg-help {
	display: none;
}

@cardspacing: 3px;

.card {
	position: relative;
	width: @cardwidth;
	height: @cardheight;
	display: inline-block;
	padding: 2px;
	transition: opacity 0.3s ease 0.2s,
				transform 0.8s ease 0s;
	opacity: 1;
	z-index: 30;
	cursor: pointer;
	img {
		width: 100%;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
		transform: scale(1.0);
		transition: transform 0.3s ease;
		/*&:hover {
			transform: scale(1.8);
		}*/
	}
	.discard {
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
		display: none;
		z-index: 10;
	}
	&:hover {
		z-index: 40;
	}
	.burn {
		position: absolute;
		top: 2px;
		bottom: 2px;
		right: 2px;
		left: 2px;
		background: black;
		border-radius: 1px;
		opacity: 0;
		transition: opacity 0.3s ease-in;
		z-index: 4;
	}
	&.discarded {
		.discard { display: none; }
		.burn {
			opacity: 1;
		}
		opacity: 0;
	}
}

.well {
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: rgba(0, 0, 0, 0.17);
	border-radius: 5px;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	line-height: @cardheight;
}

.stack {
	.card {
		position: absolute;
		border-radius: 3px;
		overflow: hidden;
		padding: 0;
		box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
		top: 10px;
		left: 10px;
		.cards(5);
		.cards(@n, @i: 0) when (@i =< @n) {
			&:nth-child(@{i}) {
				left: @i * 2px;
				top: @i * 2px;
				z-index: @i + 100;
			}
			.cards(@n, (@i + 1));
		}
	}
}

#deck {
	&:extend(.well);
	&:extend(.stack all);
	position: absolute;
	top: @arenaheight / 2 - @cardheight / 2;
	left: 9 * @cardwidth + 2 * @arenapadding;
	width: @cardwidth;
	height: @cardheight;
}

#players {
	.player {
		position: absolute;
		left: 0;
		height: @arenaheight / 2;
		width: 100%;
		&.active {
			.playername {
				color: red;
				font-size: 20px;
			}
		}
		&:nth-child(1) {
			top: 0;
			.playerinfo {
				bottom: 10px;
			}
			.hand {
				top: @arenapadding;
			}
			.sabotage-area, .journey-area, .score {
				top: @cardheight + 2 * @arenapadding;
			}
		}
		&:nth-child(2) {
			top: @arenaheight / 2;
			.playerinfo {
				top: 10px;
			}
			.hand {
				bottom: @arenapadding;
			}
			.sabotage-area, .journey-area, .score {
				bottom: @cardheight + 2 * @arenapadding;
			}
		}
		.playerinfo {
			position: absolute;
			left: 0;
			right: 0;
			padding: 10px;
			line-height: 1.2em;
			.playername {
				font-weight: bold;
				font-size: 14px;
			}
			.tokens {
				font-size: 10px;
			}
		}
		.score {
			font-size: 14px;
			position: absolute;
			left: 10 * @cardwidth + 2 * @arenapadding;
			height: @cardheight;
			line-height: @cardheight;
			width: @cardwidth;
			text-align: center;
			font-weight: bold;
		}
		.sabotage-area {
			&:extend(.well);
			&:extend(.stack all);
			position: absolute;
			left: @arenapadding;
			width: @cardwidth;
			height: @cardheight;
		}
		.journey-area {
			&:extend(.well);
			position: absolute;
			left: @cardwidth + @arenapadding;
			width: 9 * @cardwidth;
			height: @cardheight;
		}
		.hand {
			&:extend(.well);
			position: absolute;
			left: @arenapadding;
			width: 11 * @cardwidth + @arenapadding;
			height: @cardheight;
		}
	}
}

#status {
	position: absolute;
	top: @arenaheight / 2 - 40px;
	left: 0;
	right: 0;
	height: 80px;
	font-size: 14px;
	text-align: center;
	width: @arenawidth;
	line-height: 80px;
	&.message {
		z-index: 1000;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background: black;
	}
}